@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

p,
button,
h1 {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.triangle::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Adjust based on your design */
  left: 15%;
  transform: translateX(-15%);
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent; /* Adjust based on your design */
}

.swiper-container {
  width: 800px; /* Set your desired width here */
  margin: 0 auto; /* Center the container */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: #fff;
  font-size: 32px !important;
}
